.reviews-section-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 15px;
}

.section {
  background-color: var(--bg-light);
}

.main-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 15px;
  text-align: start;
  
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.reviews-cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
  gap: 15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reviews-cards-container::-webkit-scrollbar {
  display: none;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--gray-border);
  box-shadow: 0 2px 10px var(--shadow-light);
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--gray-555);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.carousel-arrow:hover {
  background-color: var(--bg-light);
  transform: translateY(-50%) scale(1.05);
}

.left-arrow {
  left: -15px;
}

.right-arrow {
  right: -15px;
}

@media (max-width: 992px) {
  .reviews-cards-container {
    gap: 12px;
  }

  .carousel-arrow {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .reviews-section-container {
    padding: 0 10px;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .carousel-arrow {
    display: none;
  }
}
