.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputLabel {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-text-color);
  font-size: 23px;
  margin-left: 15px;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  width: 100%;
  height: 85px;
  padding: 10px 35px !important; /* مساحة للأيقونة */
  border-radius: 26px;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: var(--input-bg-color);
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #503620;
}

.passwordToggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #503620;
}
