@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/* Hero Section */
.hero-section {
  padding: 100px 0px 180px 0px;
  text-align: center;
  width: 100%;
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

.titleHero{
  text-align: center !important;
}
.main-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #222222 !important;
  line-height: 1.3;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.15rem;
  color: var(--gray-text);
  max-width: 700px;
  margin: 0 auto 45px;
  line-height: 1.8;
}

/* Search Bar */
.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-light);
  border-radius: 50px;
  padding: 12px 15px;
   max-width: 950px;
  margin: 0 auto;
  gap: 10px;
}

.search-input-group {
  flex: 1;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 40px;
}

.search-input-group input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  text-align: left;
  font-size: 1rem;
  color: var(--brown-dark);
  font-weight: 500;
}

.search-button {
background: var(--brown-dark);
  color: var(--white);
  border: none;
  border-radius: 40px;
  padding: 12px 35px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-button:hover {
  background-color: var(--brown-soft);
}
