
.footer {
  background: var(--footer-bg);
  padding: 50px 0 0 0;
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  border-top: 1px solid var(--border-light);
}

.footer-top {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 40px;
  gap: 30px;
}

.footer-brand {
  flex: 1.3;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222222 !important;
}

.store-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.store-btn {
  background: var(--white);
  border: 1px solid var(--gray-btn-border);
  padding: 7px 8px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
}

.store-btn:hover {
  background: var(--gray-btn-bg);
}

.footer-column {
  flex: 1;
}

.col-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s;
}

.footer-column ul li a:hover {
  color: var(--hover-text);
}

.footer-bottom {
  max-width: 1200px;
  margin: auto;
  padding: 15px 40px;
  border-top: 1px solid var(--border-light);
  display: flex;
  gap: 400px;
  font-size: 0.85rem;
  color: var(--text-lighter);
}

@media (max-width: 900px) {
  .footer-top {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-column,
  .footer-brand {
    flex-basis: 100%;
  }

  .store-buttons {
    flex-direction: row;
    justify-content: center;
  }
}


.copyRight{
  text-align: start;
 
}