* {
  border: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
}



:root {
  --primary-text-color: #503620;
  /* لون الخط الرئيسي */
  --input-bg-color: #FFFFFFAD;
  /* لون خلفية الـ input */
  --login-bg-color: #BAA88B;
  /* لون خلفية login container */
  --button-bg-color: #503620BA;
  /* لون خلفية زر login */
  --button-text-color: #E3D9C9;
  /* لون الخط داخل الزر */
  --alt-button-bg-color: #FFFFFF69;
  /* لون خلفية أزرار التسجيل الأخرى (فيسبوك، جوجل...) */
  --login-bg-color: rgba(186, 168, 139, 0.54);
  /* لون خلفية login مع الشفافية */

}