
.featured-salons-section {
  max-width: 1200px;
  margin: 50px auto;
  padding: 5% 20px;
  background-color:var(--bg-light) !important;

}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color:#222222 !important ; 
  margin-bottom: 5px;
}

.section-subtitle {
  font-size: 1rem;
  color: var(--text-gray);
  margin-bottom: 25px;
}

.carousel-wrapper {
  position: relative;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-bottom: 10px;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.cards-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--arrow-bg);
  border: none;
  box-shadow: 0 4px 15px var(--shadow-strong);
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--arrow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background-color 0.2s, opacity 0.3s;
}

.left-arrow {
  left: -20px;
}

.right-arrow {
  right: -20px;
}

@media (max-width: 768px) {
  .carousel-arrow {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .cards-container {
    gap: 15px;
  }
}
